.profileBadge {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #ddd;

  &__label {
    font-size: 14px;
    color: #888;
  }

  &__value {
    font-size: 18px;
    color: #000;
  }
}