.tabBookmarks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  > * {
    width: calc(50% - 8px);
  }
}

@media screen and (max-width: 768px) {
  .tabBookmarks {
    > * {
      width: 100%;
    }
  }
}