.profileHeader {
  width: 100%;
  max-width: 960px;
  background: #fff;
  padding: 24px 32px;
  border-radius: 4px;
  border: #dddddd 1px solid;
  overflow: hidden;
  
  &__cover {
    display: block;
    margin-left: -32px;
    margin-top: -24px;
    width: calc(100% + 64px);
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid #dddddd;
  }
  
  &__hr {
    border: none;
    border-bottom: #dddddd 1px solid;
    margin: 8px 0 12px;
    padding: 0;
    display: block;
  }
  
  &__description {
    color: #999;
    font-size: 14px;
  }
  
  &__authorWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  &__authorImg {
    display: block;
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  &__authorName {
    font-size: 18px;
  }
}