.TabPersonal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  > * {
    flex: 1 1 calc(50% - 8px);
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  white-space: pre-wrap;
  border: 1px solid #ddd;

  &__title {
    font-size: 21px;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }

  &__content {
    padding: 8px 16px 16px;
  }
}