.image{
  &--error {
    content:url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  }
}

@keyframes fadeInLightbox {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000090;

  animation: fadeInLightbox 0.4s ease 1 forwards;

  .lightboxImg {
    width: max-content;
    height: max-content;
    object-fit: contain;
    max-width: 95vw;
    max-height: 95vh;
    animation: fadeInImage 0.4s ease 1 forwards;
  }
}