.input {
  position: relative;
  min-height: 200px;
  width: 100%;
  border: 2px dashed #707070;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    border-color: #3677c2;
    color: #3677c2;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }
}