.articleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  border: 1px solid #ddd;
  cursor: pointer;

  &__cover {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 4px;
    display: block;
    background: url('/images/blank-article.png');
    background-size: cover;
  }

  &__title {
    font-size: 18px;
    transition: 0.2s ease all;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__date {
    color: #999;
  }

  &__readBtn {
    border: none;
    background: transparent;
    outline: none;
    display: block;
    cursor: pointer;
    font-size: 16px;
    transition: 0.1s ease all;
  }

  &:hover {
    .articleCard__title {
      color: #3677c2;
    }
    
    .articleCard__readBtn {
      color: #3677c2;
    }
  }
}