.articleBreadcrumbs {
  align-items: center;
  display: flex;
  width: 100%;
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  flex-wrap: wrap;
  gap: 32px;

  > * {
    font-size: 14px;
  }

  > *:not(:last-child) {
    position: relative;
    color: #3677c2;
    &::after {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      content: ">";
      margin-left: 8px;
      color: #aaa;
      font-size: 21px;
      pointer-events: none;
    }
  }

  > *:last-child {
    pointer-events: none;
  }
}