.articleBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  font-size: 16px;
  line-height: 120%;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;

  h1 {
    font-size: 26px;
    margin: 16px 0 8px;
  }

  h2 {
    font-size: 24px;
    margin: 16px 0 8px;
  }

  h3 {
    font-size: 21px;
    margin: 16px 0 8px;
  }
  
  p {
    font-size: 16px;
    line-height: 120%;
    margin: 0 0 8px;
  }

  img {
    display: block;
    max-width: min(640px, 100%);
    margin: 16px auto;
    cursor: pointer;
  }

  iframe {
    height: auto;
    aspect-ratio: 16/9;
  }

  audio {
    width: 100%;
  }

  table {
    display: block;
    margin: 0 auto;
    border: #ddd solid 2px;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    padding: 16px;

    thead {
      color: #3677c2;
        th {
          padding-bottom: 8px;
          border-bottom: 1px solid #ddd;
        }
    }

    tr:not(:last-child) {
      td{
        border-bottom: 1px solid #ddd;
      }
    }
  }
  
  blockquote {
    color: #333;
    background: #f3f3fb;
    padding: 32px;
    margin: 0;
  }

  details {
    color: #333;
    background: #f3f3fb;
    padding: 0;
    margin: 0;

    summary {
      cursor: pointer;
      color: #111;
      background: #f3f3fb;
      padding: 16px 32px;
      margin: 0;
    }

    div {
      padding: 0 32px 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      a {
        color: #3677c2;

        &:hover {
          color: #083161;
        }
      }
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.showUpBtn {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 16px;
  border: 2px solid #3677c2;
  color: #3677c2;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease all;

  &:hover {
    color: #fff;
    background: #3677c2;
  }
}