.articleHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;

  &__title {
    font-size: 24px;
  }

  &__cover {
    display: block;
    margin-left: -16px;
    margin-top: -16px;
    width: calc(100% + 32px);
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid #dddddd;
  }
  
  &__hr {
    border: none;
    border-bottom: #dddddd 1px solid;
    margin: 8px 0 12px;
    padding: 0;
    display: block;
  }

  &__authorWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  &__authorImg {
    display: block;
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }
  
  &__authorName {
    font-size: 18px;
    cursor: pointer;
  }
}