.tabs {
  width: 100%;
  background: #d7dddf;
  border-radius: 4px;
  border: #dddddd 1px solid;
  font-size: 16px;

  display: flex;
  flex-direction: column;

  &__inner {
    padding: 24px 32px;
    background: #fff;
  }

  &__tab {
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    background: #e7eaeb;
    border-radius: 6px 6px 0 0;
    border: 1px solid #f8f3f3;
    border-width: 1px 1px 0 1px;
    color: #999;
    transition: 0.1s ease all;
    cursor: pointer;

    &--active {
      background: #fff;
      color: #111;
    }
  }

  &__list {
    padding: 8px 8px 0;
    display: flex;
    gap: 8px;
    overflow-x: auto;
  }
}

@media screen and (max-width: 768px) {
  .tabs {
    &__inner {
      padding: 16px 16px;
    }
  }
}