.profileLinks {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 16px;

  &__title {
    display: block;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    flex: 1 1 auto;
    display: block;
    cursor: pointer;
    border: 1px solid #548eaa;
    color: #548eaa;
    background: transparent;
    padding: 8px 16px;
    font-size: 16px;
    transition: 0.2s ease all;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: #fff;
      background: #548eaa;
    }
  }
}